﻿/* Documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification for how to configuring this project. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
/*** SchoolDb ***/
#shool-main {
    width: 1280px;
    height: 660px;
    display: flex;
    border-bottom: 1px solid #bbb;
}
#shool-main div {
    -ms-flex: 1;
    flex: 1;
}
#container-courses-Teachers {
    min-width: 580px;
}
.header-courses {
    float: left;
    width: 230px;
}
.header-teachers {
    float: left;
    width: 150px;
}
#student_table, #subject_table {
    border: 1px solid gray;
    height: 450px;
    overflow: auto;
}
#course_table {
    clear: both;
    float: left;
    border: 1px solid gray;
    height: 450px;
    overflow: auto;
}
#teacher_table {
    border: 1px solid gray;
    height: 450px;
    float: right;
    overflow: auto;
}
#subjects {
    min-width: 170px;
    max-width: 170px;
}

.add_button_container {
    position: relative;
    margin-top: 60px;
    max-width: 30px !important;
    height: 300px;
}
.add_relation_button {
    position: absolute;
    margin-left: 13px;
    top: 65%;
}
.active {
    color: white;
    background: blue !important;
}
.active2 {
    background: yellow !important;
}
.tr-student, .tr-teacher, .tr-course, .tr-subject {
    cursor: pointer;
}
.head {
    font-weight: bold;
}
.head4 {
    width: 60px;
}
.col1_head {
    background-color: #c2efef;
    width: 120px;
    padding: 4px;
}
.col2_head {
    background-color: #c2efef;
    width: 118px;
    padding: 4px;
}
.col3_head {
    background-color: #c2efef;
    width: 95px;
    padding: 4px;
}
.col1 {
    width: 120px;
    padding: 4px 3px;
    border: 0.1px solid lightgray;
}

.col2 {
    width: 116px;
    padding: 4px;
    border: 0.1px solid lightgray;
}
.col3 {
    width: 95px;
    padding: 4px;
    border: 0.1px solid lightgray;
}
.col_head_course {
    background-color: #c2efef;
    width: 160px;
    padding: 4px;
}

.col_course {
    width: 160px;
    padding: 4px;
    border: 0.1px solid lightgray;
}
.col1_head_teacher {
    background-color: #c2efef;
    width: 123px;
    padding: 4px;
}
.col2_head_teacher {
    width: 101px;
    padding: 4px;
    background-color: #c2efef;
}
.col3_head_teacher {
    background-color: #c2efef;
    width: 93px;
    padding: 4px;
}
.col1_teacher {
    width: 123px;
    padding: 4px 3px;
    border: 0.1px solid lightgray;
}
.col2_teacher {
    width: 101px;
    margin: 0;
    padding: 4px 3px 4px 3px;
    border: 0.1px solid lightgray;
}
.col3_teacher {
    width: 93px;
    border: 0.1px solid lightgray;
}
.col_head_subjects {
    background-color: #c2efef;
    width: 175px;
    padding: 4px;
}
.col_head_del {
    background-color: #c2efef;
    max-width: 30px;
    min-width: 30px;
}
.col_subjects {
    width: 175px;
    padding: 4px;
    border: 0.1px solid lightgray;
}
.col_del {
    max-width: 29px;
    min-width: 29px;
    border: 0.1px solid lightgray;
}

/******** Filters ******/
#administrate-container {
    position: absolute;
    bottom: 40px;
    width: 1300px;
}

#filter-school {
    display: table;
    margin: auto;
}
.input-add-col1 {
    margin-top: 10px;
    margin-right: 10px;
    width: 153px;
}
.input-add-col2 {
    margin-top: 10px;
    margin-right: 10px;
    width: 153px;
}
.input-add-col3 {
    margin-top: 10px;
    width: 153px;
}
.input-add-firstname {
    margin-top: 10px;
    margin-right: 10px;
    width: 153px;
}

.input-add-lastname {
    margin-top: 10px;
    margin-right: 10px;
    width: 153px;
}

.input-add-city {
    margin-top: 10px;
    width: 153px;
}
.input-add-subject {
    margin-top: 10px;
    margin-right: 10px;
    width: 153px;
}
.input-field-label {
    margin-right: 24px;
}
.input-field {
    width: 182px;
}
.cb-sort {
    margin-left: 5px;
}
.filter-button {
    margin-top: 9px;
}
.filter-button-subject {
    margin-top: 48px;
}
#btn-add-subject {
    margin-top: 40px;
}
#btn-add-teacher-course {
    margin-top: 7px;
}
.btn-tr-del {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #e33e1c;
    padding-left: 2px;
    padding-right: 2px;
}
.btn-tr-del:hover {
    color: white;
    background-color: #F49480;
}