﻿@model DbViewModel

﻿@{
    ViewData["Title"] = "School";
}

<div class="text-center">
    <h1 class="display-4">School admin</h1>
</div>

<div id="shool-main">
    <div id="students">
        <partial name="School/_StudentsPartial" model="Model" />
    </div>
    <div class="controls">
        <!--<partial name="School/_Control_StudCourse_Partial" />-->
    </div>
    <div id="container-courses-Teachers">
        <partial name="School/_CoursesPartial" model="Model" />
    </div>
    <div class="controls">
        <!--<partial name="School/_Control_CourseSubject_Partial" />-->
    </div>
    <div id="subjects">
        <partial name="School/_SubjectsPartial" model="Model" />
    </div>
</div>
<div class="d-flex justify-content-center">
    <h4>@ViewBag.Info</h4>
</div>
<div id="administrate-container">
    <partial name="School/_AdministratePartial" />
</div>