﻿<div id="filter-school">
    <form asp-action="Main" asp-controller="Partial" method="POST">
        <label for="sortByCol" style="margin-right: 10px">Sort by</label>
        <select class="p-1" name="sortByCol" for="sorting">
            <option value="firstName" selected>First name</option>
            <option value="lastName">Last name</option>
            <option value="city">City</option>
        </select>

        <select class="cb-sort p-1" name="sortMode" for="sorting">
            <option value="asc" selected>Asc</option>
            <option value="desc">Desc</option>
        </select>
        <br />
        <label class="input-field-label mt-2">Filter</label>
        <input class="input-field mt-2" name="filter" type="text" />
        <input class="btn btn-sm btn-success ml-1" name="submit-filter" type="submit" />
        <br /><br />
        <h2>@ViewBag.Message</h2>
    </form>
</div>