﻿@model DbViewModel 

<br />
<div class="header-courses"><h4>Courses</h4></div>
<div class="header-teachers"><h4>Teachers</h4></div>

<div id="course_table">
    <table id="table-courses" class="table table-sm table-striped">
        <thead>
            <tr class="header">
                <th class="head col_head_course">Course</th>
                <th class="head col_head_del">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Course course in Model.Courses)
            {
                @if (course.Teacher != null)
                {
                    <tr onclick="location.href='@Url.ActionLink("DisplayRelationsToCourse", "School", new { idCourse = @course.CourseId }, null)'"
                        id="tr-courseid-@course.CourseId"
                        class="tr-course">
                        <td class="col_course">@course.CourseName</td>
                        <td class="col_del p-0">
                            <a id="btn-delete-course" class="btn btn-sm btn-tr-del"
                                asp-action="DeleteCourse" 
                                asp-route-courseId="@course.CourseId">
                                Del
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
<div id="teacher_table">
    <table id="table-teachers" class="table table-sm table-striped">
        <thead>
            <tr>
                <th class="col1_head_teacher">First Name</th>
                <th class="col2_head_teacher">Last Name</th>
                <th class="col3_head_teacher">City</th>
                <th class="head col_head_del">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Teacher teacher in Model.Teachers)
            {
                @if (teacher.Course != null)
                {
                    <tr onclick="location.href='@Url.ActionLink("DisplayRelationsToTeacher", "School", new { idTeacher = @teacher.TeacherId }, null)'"
                        id="tr-teacherid-@teacher.TeacherId"
                        class="tr-teacher">
                        <td class="col1_teacher">@teacher.FirstName</td>
                        <td class="col2_teacher">@teacher.LastName</td>                    
                        <td class="col3_teacher">@teacher.City</td>
                        <td class="col_del p-0">
                            <a id="btn-delete-teacher" class="btn btn-sm btn-tr-del"
                                asp-action="DeleteTeacher" 
                                asp-route-teacherId="@teacher.TeacherId">
                                Del
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
<div class="add-remove">
    <table>
        <tr>
            <td><input id="input-add-firstname-teacher" class="input-add-firstname" name="filter" placeholder="First name" type="text" /></td>
            <td><input id="input-add-lastname-teacher" class="input-add-col2" name="filter" placeholder="Last name" type="text" /></td>
            <td><input id="input-add-city-teacher" class="input-add-col3" name="filter" placeholder="City" type="text" /></td>
        </tr>
        <tr>
            <td><input id="input-add-course" class="input-add-col1" name="filter" placeholder="Course" type="text" /></td>
        </tr>
        <tr>
            <td>
                <a id="btn-add-teacher-course" class="btn btn-sm btn-success" 
                   asp-action="AddCourseAndTeacher" 
                   asp-route-course="jsCourseDummy"
                   asp-route-firstName="jsFirstNameDummy"
                   asp-route-lastName="jsLastNameDummy"
                   asp-route-city="jsCityDummy">
                   Add
                </a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">        
    setActiveTeacher(@Model.ActiveTeacherId);
</script>