﻿@model DbViewModel

<br />
<h4>Students</h4>

<div id="student_table">
    <table id="table-students" class="table table-sm table-striped">
        <thead>
            <tr class="list-group list-group-horizontal header">
                <th class="list-group-item head col1_head">First Name</th>
                <th class="list-group-item head col2_head">Last Name</th>
                <th class="list-group-item head col3_head">City</th>
                <th class="head col_head_del">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Students != null)
            { 
                @foreach (var student in Model.Students)
                {
                    <tr class="tr-student list-group list-group-horizontal header">
                        <td class="col1">@student.FirstName</td>
                        <td class="col2">@student.LastName</td>
                        <td class="col3">@student.City</td>
                        <td class="col-del p-0">                
                            <a id="btn-delete-student" class="btn btn-sm btn-tr-del"
                                asp-action="DeleteStudent" 
                                asp-route-studentId="@student.StudentId">
                                Del
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="add-remove-data-container">
    <table>
        <tr>
            <td><input class="input-add-firstname" name="filter" placeholder="First name" type="text" /></td>
            <td><input class="input-add-lastname" name="filter" placeholder="Last name" type="text" /></td>
        </tr>
        <tr>
            <td><input class="input-add-city" name="filter" placeholder="City" type="text" /></td>
        </tr>
        <tr>
            <td>
                <a id="btn-add-student" class="btn btn-sm btn-success mt-2"
                    asp-action="AddStudent"
                    asp-route-firstName="jsFirstNameDummy"
                    asp-route-lastName="jsLastNameDummy"
                    asp-route-city="jsCityDummy">
                    Add
                </a>
            </td>
        </tr>
    </table>
</div>