﻿@model DbViewModel

<br />
<h4>Subjects</h4>
<div id="subject_table">
    <table id="table-subjects" class="table table-sm table-striped">
        <thead>
            <tr class="header">
                <th class="head col_head_subjects">Subject</th>
                <th class="head col_head_del">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Subjects != null)
            {
                @foreach (var subject in Model.Subjects)
                {
                    <tr id="@subject.SubjectId" class="tr-subject">
                        <td class="col_subjects">@subject.SubjectName</td>
                        <td class="col_del p-0">
                            <a id="btn-delete-subject" class="btn btn-sm btn-tr-del"
                               asp-action="DeleteSubject" 
                               asp-route-subjectId="@subject.SubjectId">
                               Del
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="add-remove">
    <table>
        <tr>
            <td><input class="input-add-subject mb-1" name="filter" placeholder="Subject" type="text" /></td>
        </tr>
        <tr>
            <td>
                <a id="btn-add-subject" class="btn btn-sm btn-success" 
                   asp-action="AddSubject" 
                   asp-route-subject="jsSubjectDummy">
                   Add
                </a>
            </td>
        </tr>
    </table>
</div>